#panel{
    table-layout: auto;
    margin-top: 1rem;
    width: 100%;
}

#panel *{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-header{
    text-transform: capitalize;
}

.panel-header[data-sort=true]{
    cursor: pointer;
}

.panel-header[data-sort=true]:hover{
    filter: invert(.5);
}

.table-row:hover{
    background-color: rgb(248, 248, 170) !important;
}

input{
    background-color: inherit;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 5px;
}

input[readonly]{
    border: none;
    text-align: center;
    background-color: inherit !important;
}

.paginate{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.paginate li{
    cursor: pointer;
}

#button-icon{
    display: inline;
    margin-left: .2em;
}

.fa-eye{
    display: inline;
    margin-left: .5rem;
}

.inner-service{
    margin-top: .25rem;
}

i[class*="fa-sort"]{
    float: right;
    cursor: pointer;
    visibility: hidden;
}