.auto-results ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    z-index: 1;
    max-width: -moz-available;          /* For Firefox */
    max-width: -webkit-fill-available;  /* For Chrome */
    max-width: 40em;             
    border: 0.5px solid #CED4DA;
    border-radius: 5px;
}

.auto-results li{
    width: 100%;
    min-width: 12em;
    padding: 2px 10px;
}

.auto-results li:hover {
    font-weight: bolder;
    background-color: rgb(223, 221, 221);
}

.matching-str{
    color: blue;
    font-weight: bold;
}