#add-icon, .fa-arrow-circle-left{
    cursor: pointer;
    color: #0000EE;
}

#add-icon{
    margin-left: .6rem;
}

.fa-arrow-circle-left{
    margin-right: .6rem;
}

#manager-title{
    text-align: center;
    font-size: xx-large;
    margin-top: 3rem;
}

#export{
    text-align: right;
    margin: 0.75rem 3rem;
}

#set-page{
    font-size: medium;
    margin-top: 1rem;
}

#set-page form{
    display: inline;
}

#set-page input{
    height: 1%;
    width: 6%;
    padding: .2rem;
    margin-left: .75rem;
    display: inline-block;
}

#back-to-parent{
    float: left;
    margin-left: 2rem;
}

#back-to-parent a{
    color: black;
    text-decoration: none;
}

#back-to-parent a:hover{
    color: #0000FF;
}


#export, #back-to-parent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

#note{
    margin-top: .75rem;
    margin-bottom: 0;
    color: rgb(112, 112, 112);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 300;
}

.service-link{
    cursor: pointer;
    color: #0000EE;
}

.service-link:hover{
    color: #0000FF;
}

.service-link span{
    color: black;
}

.service-link span:hover{
    text-decoration: underline;
}