.logo{
    margin-right: 3.5rem !important;
}

.fa-home{
    margin-left: 2rem;
}

.nav-link{
    padding: .5rem;
}

.nav-link, .fa-home{
    color: white;
}

.nav-link:hover, .fa-home:hover{
    color: grey;
    text-decoration: none;
}

.nav-link .fa{
    margin-left: .35rem;
}

#separator{
    margin: 0;
    padding: .25rem;
}

#separator div{
    height: 1.75rem;
    border: 1px solid snow;
}
