#App {
  text-align: center;
}

#home{
  text-align: center;
  margin-top: 15rem;
}

#home h1{
  font-size: xx-large;
  font-weight: 350;
}

#home h2{
  font-size: x-large;
  font-weight: 300;
}

#loading-spinner{
  margin-top: 8rem;
}

#loading-spinner span{
  margin-left: .8rem;
  font-weight: bold;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}