#search-prompt{
    font-weight: 300;
    padding-top: 3rem;
    font-size: x-large;
    display: block;
}

#search-icon{
    font-variant: unicase;
    padding-left: .5rem;
}

#form-options input{
    width: 25%;
}

#form-options input, #search-field input{
    padding: .3rem 1rem;
}

/* make all placeholders the same color */
input::placeholder, select.form-control{
    color: #777777;
}

select.form-control option{
    color: black;
}

#search-field{
    width: 50%;
    margin-left: initial !important;
    margin: auto auto 2rem auto;
}

#search-alert{
    width: 100%;
    padding: .25rem 2rem;
    color: rgb(240, 48, 48);
    margin: 0rem auto 1rem auto;
    background-color: inherit;
}

#category-prompt{
    font-weight: 300;
    margin-bottom: 1.5rem;
}

#category-icon{
    margin-bottom: 2.25rem;
}

/* style & position back-to-top link */
#search-top{
    margin-bottom: 5rem;
}

#search-back-to-top{
    margin-top: 2rem;
    display: block;
    color: #007bff;
    cursor: pointer;
}

#search-back-to-top:hover{
    color: blue;
    text-decoration: underline;
}

.form-group{
    margin: 0rem 6rem;
    padding: 2rem;
    border: 1.55px solid #e9ecef;
    border-radius: 20px;
}